<html lang="en">
  <head>
 
    <!-- Vendors styles-->
    <link rel="stylesheet" href="../static/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="../static/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="../static/css/style.css" rel="stylesheet">
    <title>EMS | ADMIN</title>

 
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <H4 style="margin-left: -2em;">ADMIN</H4>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
          <a class="nav-link " href="/adminh">
            <svg class="nav-icon">
              <use > <i class="fa-solid fa-grid-horizontal" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg> Dashboard</a>
          </li>
          
        <li class="nav-title">Theme</li>
        <li class="nav-item"><a class="nav-link" href="/addvenueuser">
            <svg class="nav-icon">
              <use ><i  class="fa-solid fa-users" style="margin-left: -35px; margin-right: 11px;"></i></use>
            </svg>Add User</a>
        </li>
        <li class="nav-group">
          <a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use><i class="fa-solid fa-calendar-days" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg> Events</a>
                  <ul class="nav-group-items">
                        <li class="nav-item"><a class="nav-link" href="/addeventsp">
                          <svg class="nav-icon">
                            <use><i class="fa-solid fa-calendar-circle-plus"></i></use>
                          </svg>Add Events</a>
                        </li>
                  </ul>
                  <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="/viewEvents">
                      <svg class="nav-icon">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                      </svg>View Events</a>
                    </li>
                 </ul>
        </li>

        <li class="nav-group">
          <a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use ><i class="fa-solid fa-location-dot" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg>Venues</a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link" href="/addcenter">
                    <svg class="nav-icon">
                    </svg> Add Centre</a>
                  </li>
            </ul>
            <ul class="nav-group-items">
              <li class="nav-item"><a class="nav-link" href="/viewVenues">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                </svg>View Venues</a>
              </li>
        </ul>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="/customerslist">
            <svg class="nav-icon">
              <use ><i  class="fa-solid fa-users" style="margin-left: -35px; margin-right: 11px;"></i></use>
            </svg> Customer Management</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/contactlist">
            <svg class="nav-icon">
              <use ><i class="fa-solid fa-address-book" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg>Contacts Report </a>
        </li>
      
        <li class="nav-item"><a class="nav-link" href="/allbookings">
            <svg class="nav-icon">
              <use ><i class="fa-solid fa-bookmark" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg>All Bookings</a>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="/logout">
            <svg class="nav-icon">
              <use ><i class="fa-solid fa-right-from-bracket" style="margin-left: -2em;margin-right: 1em"></i></use>
            </svg>Logout</a>
        </li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>



    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <i class="fa-solid fa-bars"></i>
            </svg>
          </button>
          <a class="header-brand d-md-none" href="index.html">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
          </ul>
        </div>
        <div class="header-divider"></div>
      </header>
      <section>
        <div class="container p-4 col-md-9">
            <table class="table">
                <caption>Showing 1 to   entries</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">LoginID      </th>
                    <th scope="col">Username    </th>
                    <th scope="col">Password   </th>
                    <th scope="col">Type   </th>
                    <!-- <th scope="col">Edit   </th> -->
                    <th scope="col">Delete   </th>
                  </tr>
                </thead>
                {% for i in val %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i['lid']}}  </td>
                    <td>{{i['username']}} </td>
                    <td>{{i['password']}}</td>
                    <td>{{i['type']}}</td>
                    <!-- <td><a href="/show"  target="1"><input type="button" value="Edit" class="btn btn-warning"></td></a> -->
                    <td><a href="/Delete?ID={{i['lid']}}"><input type="button" value="Delete" class="btn btn-danger"></td></a>
                  </tr>   
                                    
                {% endfor%}                      
              </table>
              
          </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
              <!-- basic form start -->
               <form method="post" action="/addvenueuseracc" enctype="multipart/form-data">
              <div class="col-12" >
                  <div class="card divcenter"  style="width: 48em;">
                      <div class="card-body">
                          <h4 class="header-title">Add Venue Account</h4>


                              <div class="row form-group">
                                  <div class="col-md-3 my-auto">
                                  <label >Username</label>
                                  </div>
                                  <div class="col-md-8">
                                  <input type="text" class="form-control"  name="textfield1" required>
                                 
                                  </div>
                              </div>

                              <div class="row form-group mt-3">
                                  <div class="col-md-3 my-auto">
                                      <label >Password</label>
                                      </div>
                                      <div class="col-md-8">
                                      <input type="password" class="form-control" name="textfield2" required>
                                      </div>
                              </div>

                              <div class="row form-group mt-3">
                                  <div class="col-md-3 my-auto">
                                  <label >Login Type</label>
                                  </div>
                                  <div class="col-md-8">
                                  <input type="text" class="form-control" name="textfield3" value="venue" required>
                                  </div>
                              </div>
                              <div >
                                <input type="submit" class="btn btn-primary mt-4 pr-4 pl-4" value="ADD" name="submit">
                              </div>                                                                              
                      </div>
                  </div>
              </div>
             </form>
              <!-- basic form end -->
          </div>
      </div>
    </section>
    <section>
      <iframe src="" name="1" frameborder="0" style="width: 100%; height: 23em;"></iframe>
    </section>








      
      <footer>
        <div class="mx-auto">
          @Copyright2023
        </div>
      </footer>
    </div>
    
    <!-- CoreUI and necessary plugins-->
    <script src="../static/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="../static/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="https://kit.fontawesome.com/fe0c06db7b.js" crossorigin="anonymous"></script>

   

  </body>
  
</html>