
<!-- Breadcrumb-->
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="../static/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="../static/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="../static/css/style.css" rel="stylesheet">
    <title>EMS | ADMIN</title>

  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#signet"></use>
        </svg>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item"><a class="nav-link" href="/adminh">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg> Dashboard</a></li>
        <li class="nav-title">Theme</li>
        <li class="nav-group">
          <a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
            </svg> Events</a>
                  <ul class="nav-group-items">
                        <li class="nav-item"><a class="nav-link" href="/addeventsp">
                          <svg class="nav-icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                          </svg>Add Events</a>
                        </li>
                  </ul>
                  <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="/viewEvents">
                      <svg class="nav-icon">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                      </svg>View Events</a>
                    </li>
                 </ul>
        </li>

        <li class="nav-group">
          <a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
            </svg>Vendors</a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link" href="/addcenter">
                    <svg class="nav-icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                    </svg> Add Centre</a>
                  </li>
            </ul>
            <ul class="nav-group-items">
              <li class="nav-item"><a class="nav-link" href="/viewVenues">
                <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
                </svg>View Venues</a>
              </li>
        </ul>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="/customerslist">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg> Customer Management</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/contactlist">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>Contacts Report </a>
        </li>
      
        <li class="nav-item"><a class="nav-link" href=".html">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>All Bookings</a>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="/logout">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>Logout</a>
        </li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>




    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler " type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
          </ul>
        </div>
        <div class="header-divider"></div>
      </header>
      <section>
        <div class="container">
          <div class="row">    
            
            
              <table class="table col-md-12 col-6" align="center" style="width: 45em;" >
                <thead class="table-dark">
                    <th>Cid</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Replay</th>
                    <th>Delete</th>

                </thead>
                <!--val from /contactlist or contact table -->
                {% for i in val %} 
                <tbody> 
                  
                  <tr>
                    <td>{{i['cid']}}</td>
                    <td>{{i['name']}}</td>
                    <td>{{i['email']}}</td>
                    <td>{{i['subject']}}</td>
                    <td>{{i['message']}}</td>

                  </tr>
                  <tr>
                    <form method="post" action="/replay?ID={{i['cid']}} ">
                        <td colspan="5"align="right">
                          <textarea  class="form-controls" name="re" style="width: 100%; height: 4em; "></textarea>
                        </td>
                        <td >
                          <input type="submit" value="Replay" class="form-controls " >
                        </td>
                    </form>
                    <td>
                      <form method="post" action="/deletemess?ID={{i['cid']}}">
                          <input type="submit" value="Delete" class="form-controls " >
                      </form>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            
            
          </div>
        </div>
      </section>







      
        <footer class="footer ">
            <div class="mx-auto">
              @Copyright2023
            </div>
        </footer>
    </div>
    
    <!-- CoreUI and necessary plugins-->
    <script src="../static/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="../static/vendors/simplebar/js/simplebar.min.js"></script>
  </body>
</html>