
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style1.css">
    <title>EMS | USER</title>

	</head>
	<body class="">
		<section>
			<header style=" position:fixed; width: 100%; z-index: 1;">
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container-fluid">
			
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			  </button>
			  <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav m-auto">
				<li class="nav-item active"><a href="/userh" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/userevetns" class="nav-link">Events</a></li>
				  <li class="nav-item"><a href="/allhalls" class="nav-link">All Venues</a></li>
				<li class="nav-item"><a href="/bookingdetails" class="nav-link">Bookings</a></li>
				<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
				  <div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="#">About </a> 
				  <a class="dropdown-item" href="#">Change Password</a>               
				   </div>
				</li>
				  <li class="nav-item"><a href="/logout" class="nav-link">logout</a></li>
					</ul>
					  </div>
					</div>
				  </nav>
			</header>
		<!-- END nav -->
		</section>
		
	</section>
	
		<div class="container">	
			
			<img src="/images/img/home_img/stage.jpg" alt="" style="width: 100%; height: 26em; margin-top:5em ;">
		</div>
	
	<section>
		<div class="container">
			<div class="pt-3">
				<h3 style="font-weight:600; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome to Convention Hall Managing System</h3>
			</div>
			<div class="row " >
				<div class="col-md-4 p-3">
				<div class="card" style="" >
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Marriage Hall Booking System</h5>
					  <p class="card-text">
						We make use of innovative measures to book
						our approach to streamline the online venue booking process and make it simpler and easier for our
						 customers. Our easy yet intuitive online venue booking mechanism, which is crafted especially for 
						 the convenience of people</p>
					</div>
				  </div>
				</div>
				<div class="p-3 col-md-4">
				  <div class="card  " style="">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Customer</h5>
					  <p class="card-text">
						We make use of innovative measures to bock Our approach to streamline the online venue
						 booking process and make it simpler and easier for our customers. Our easy yet intuitive
						  online venue booking mechanism, which is crafted especially for the convenience of people</p>
					  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
					</div>
				  </div>
				</div>
				 <div class="p-3 col-md-4">
				  <div class="card  " style="">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Admin Portal</h5>
					  <p class="card-text">
						We make use of innovative measures to back our approach to streamline the online 
						venue booking process and make it simpler and easier for our customers. Our easy yet
						 intuitive online venue booking mechanism, which is crafted especially for the convenience of people</p>
					</div>
				</div>
			    </div>
			</div>
		</div>
	</section>
	<footer class=" mt-5 text-center text-white" style="background-color: #f1f1f1;">
		<!-- Grid container -->
		<div class="container pt-4">
		  <!-- Section: Social media -->
		  <section class="mb-4">
			<!-- Facebook -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-facebook-f"></i
			></a>
	  
			<!-- Twitter -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-twitter"></i
			></a>
	  
			<!-- Google -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-google"></i
			></a>
	  
			<!-- Instagram -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-instagram"></i
			></a>
	  
			<!-- Linkedin -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-linkedin"></i
			></a>
			<!-- Github -->
			<a
			  class="btn btn-link btn-floating btn-lg text-dark m-1"
			  href="#!"
			  role="button"
			  data-mdb-ripple-color="dark"
			  ><i class="fab fa-github"></i
			></a>
		  </section>
		  <!-- Section: Social media -->
		</div>
		<!-- Grid container -->
	  
		<!-- Copyright -->
		<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		  © 2020 Copyright:
		  <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	  </footer>
		

	
	  <script src="https://kit.fontawesome.com/fe0c06db7b.js" crossorigin="anonymous"></script>

	<script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

	</body>
</html>

