
<html lang="en">
    <head>

        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../static/venue_assets/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link
        rel="stylesheet"
        href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"
      />
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/venueh">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            
                            <a class="nav-link" href="/venueadd">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Add Venue
                            </a>
                            <a class="nav-link" href="/venueupdate">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Update
                            </a>  
                            <a class="nav-link" href="/venuebookings">
                                <div class="sb-nav-link-icon"><i class="fas fa-Booking"></i></div>
                                Bookings
                            </a>
                            <a class="nav-link" href="/addpay">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Payment Details
                            </a>
                            <a class="nav-link" href="/venueconfirm">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Payment Confirmation
                            </a>
                            <a class="nav-link" href="/logout">
                                <div class="sb-nav-link-icon"><i class="fas fa-logout"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Booking Details</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Total Bookings</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>{% for i in val1 %}{{i['tt']}} {%endfor%}</p>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Pending Bookings </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>{% for i in val3 %}{{i['tp']}} {%endfor%} </p>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Total Success</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>{% for i in val2 %}{{i['ts']}} {%endfor%}</p>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

  
                    </div>
                </main>
                <section>
                <div class="container p-4">
                    <table class="table">
                        <caption>Showing 1 to {% for i in val1 %}{{i['tt']}} {%endfor%}  of {% for i in val1 %}{{i['tt']}} {%endfor%}  entries</caption>
                        <thead>
                          <tr>
                            <th scope="col">BKID      </th>
                            <th scope="col">Name    </th>
                            <th scope="col">Venue   </th>
                            <th scope="col">Mobile   </th>
                            <th scope="col">Event   </th>
                            <th scope="col">Amout   </th>
                            <th scope="col">BookDate</th>
                            <th scope="col">Status  </th>
                            <!-- <th scope="col">Aproval  </th> -->
                            <th scope="col">Rejection  </th>
                          </tr>
                        </thead>
                        {% for i in val %} {% for k in val4 %}
                           

                          <tr>
                            <td>{{i['bkid']}}  </td>
                            <td>{{i['cname']}} </td>
                            <td>{{k['name']}}</td>
                            <td>{{i['cphone']}}</td>
                            <td>{{i['cname']}}</td>
                            <td>{{k['bprice']}}</td>
                            <td>{{i['date']}}  </td>
                            <td>{{i['status']}}</td>
                            <!-- <td><a href="/aprove?ID={{i['bkid']}}"><input type="button" value="Approve" class="btn btn-success"></td></a> -->
                            <td><a href="/reject?ID={{i['bkid']}}"><input type="button" value="Reject" class="btn btn-danger"></td></a>
                          </tr>   
                                            
                        {% endfor%}{% endfor%}                      
                      </table>
                      

                  </div>
                </section>
                  <!-- bootstrap5 dataTables js cdn -->
                  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
                  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
                  <script>
                    $(document).ready(function () {
                      $('#datatable').DataTable();
                    });
                  </script>










                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../static/venue_assets/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../static/venue_assets/assets/demo/chart-area-demo.js"></script>
        <script src="../static/venue_assets/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../static/venue_assets/js/datatables-simple-demo.js"></script>
    </body>
</html>
